body{
    background-color: #eee;
    font-family: sans-serif;
}
.card{
    background-color: #fff;
    width: 500px;
    margin: 16px auto;
    padding: 8px;
}
.title{
    background-color: rgb(177, 240, 242);
    padding: 8px;
    font-size: 16px;
    margin-bottom: 8px;
}
.content{
    background-color: rgb(177, 240, 242);
    padding: 16px 8px;
    margin-bottom: 8px;
}
.button{
    background-color: rgb(177, 240, 242);
    text-align: center;
    padding: 8px;
}
button{
    background-color: white;
    border: 1px solid;
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
}