.pos, .neg{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.pos{
    background-color:green;
    color: white;
    padding: 10px;
    border-width: 7px;
    border-radius: 20px; 
    border-color: darkred;
    margin: 20px;
}
.neg{
    background-color: yellow;
    padding: 15px;
    border-width: 10px;
    border-radius: 20px;
    margin: 20px;
}